h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__headings;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@include color-mode(dark) {
	body {
		color: $color__text-main--dark;
	}
}
